[user]
	email = makharynskyi.vy@gmail.com
	name = valikoz
[merge]
	conflictStyle = diff3
[magit]
	hideCampaign = true
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
